[Unit]
Description=Group of OpenCHAMI-related services
Requires=bss.service smd.service opaal.service cloud-init-server.service coresmd-coredhcp.service step-ca.service haproxy.service network-online.target
Wants=coresmd-coredns.service
After=bss-init.service smd-init.service postgres.service coresmd-coredns.service network-online.target

[Install]
WantedBy=multi-user.target
