[Unit]
Description=The acme-register container
Requires=acme-certs-volume.service openchami-cert-trust.service acme-certs-volume.service
After=acme-certs-volume.service openchami-cert-trust.service acme-certs-volume.service
PartOf=openchami.target

[Container]
ContainerName=%H
HostName=%H
Image=docker.io/neilpang/acme.sh:3.1.1

# Volumes
Volume=/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem:/root_ca/root_ca.crt:ro,Z
Volume=acme-certs:/acme.sh:z

# Networks for the Container to use
Network=openchami-cert-internal.network

# Environment Variables
EnvironmentFile=/etc/openchami/configs/openchami.env

# **OPTIONAL:** OpenCHAMI site-specific overrides are managed in
# /etc/containers/systemd/acme-register.service.d/99-site-override.conf
Environment=SYSTEM_FQDN=%H

Entrypoint=/bin/sh
Exec=-ec '/entry.sh --issue \
  --ca-bundle /root_ca/root_ca.crt \
  --server https://step-ca:9000/acme/acme/directory \
  --home /acme.sh \
  -d "$SYSTEM_FQDN" \
  --standalone \
  --force'

[Service]
Restart=on-failure
Type=oneshot
RemainAfterExit=yes
