[Unit]
Description=The acme-deploy container
Requires=haproxy-certs-volume.service acme-register.service
After=haproxy-certs-volume.service acme-register.service
PartOf=openchami.target

[Container]
ContainerName=acme-deploy
HostName=acme-deploy
Image=docker.io/neilpang/acme.sh:3.1.1

# Volumes
Volume=/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem:/root_ca/root_ca.crt:ro,z
Volume=acme-certs:/acme.sh:Z
Volume=haproxy-certs:/etc/haproxy/certs/:z

# Networks for the Container to use
Network=openchami-cert-internal.network

# haproxy deploy hook requires the directory to be specified in an environment variable
Environment=DEPLOY_HAPROXY_PEM_PATH=/etc/haproxy/certs

# Environment Variables
EnvironmentFile=/etc/openchami/configs/openchami.env

# **OPTIONAL:** OpenCHAMI site-specific overrides are managed in
# /etc/containers/systemd/acme-register.service.d/99-site-override.conf
Environment=SYSTEM_FQDN=%H

# Command
Entrypoint=/bin/sh
Exec=-ec '/entry.sh --deploy \
  --ca-bundle /root_ca/root_ca.crt \
  --server https://step-ca:9000/acme/acme/directory \
  -d "$SYSTEM_FQDN" \
  --home /acme.sh \
  --standalone \
  --deploy-hook haproxy \
  --force'

[Service]
Restart=on-failure
Type=oneshot
RemainAfterExit=yes
