[Unit]
Description=The opaal container
PartOf=openchami.target

# Don’t start until the ID-P is running:
Wants=opaal-idp.service
After=opaal-idp.service

[Container]
ContainerName=opaal
HostName=opaal
Image=ghcr.io/openchami/opaal:v0.3.12


# Volumes
Volume=/etc/openchami/configs:/opaal/config/:Z

# Command to run in container
Exec=/opaal/opaal login --config /opaal/config/opaal.yaml

# Networks for the Container to use
Network=openchami-internal.network
Network=openchami-jwt-internal.network

# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always
# Run commands after container starts
ExecStartPost=sleep 10s
